/* adding Orbitron font family with two weights */
@font-face {
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/orbitron/v16/yMJRMIlzdpvBhQQL_Qq7dy1biN15.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/orbitron/v16/yMJRMIlzdpvBhQQL_Qq7dy1biN15.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

/* --------------- */

.header {
    background-color: #2E294E;
    color: #A2FAA3;
    text-align: center;
    padding: 15px;
    font-family: 'Orbitron';
    font-weight: 500;
    font-size: 40px;
}

body {
    background-color: #2E294E;
}



.calculator {
    display: grid;
    position: relative;
    width: 450px;
    height: 500px;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    border-top: #F98948 solid 2px;
    border-left: #F98948 solid 2px;
    border-right: #F98948 ridge 10px;
    border-bottom: #F98948 ridge 10px;
    background: rgb(42,42,42);
    background: linear-gradient(90deg,
        rgba(42,42,42,1) 0%,
        rgba(75,75,75,1) 8%, 
        rgba(139,139,139,1) 26%, 
        rgba(70,70,70,1) 66%,
        rgba(42,42,42,1) 100%);
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    padding-top: 30px;
}

#calcScreen {
    width: 100%;
    text-align: right;
    grid-column: 1 / 5;
    border: #292b2c 4px inset;
    font-family: 'Orbitron';
    background-color: #A2FAA3;
    color: black;
    overflow: scroll;
    padding: 2%;
}

#equalBtn {
    grid-column: 1 / 5;
}

.bg-override {
    color: #F5F5F5;
    border-right: black ridge 1px;
    border-bottom: black ridge 1px;
    font-size: 30px;
    font-family: 'Orbitron';
}

.bg-overrideDH {
    color: #F5F5F5;
    border-right: black ridge 1px;
    border-bottom: black ridge 1px;
    font-size: 15px;
    font-family: 'Orbitron';
}


ul {
    list-style-type: none;
}

.history {
    margin-top: 3%;
    font-family: 'Orbitron';
    font-weight: 400;
    font-size: 20px;
    color: #A2FAA3;
    text-align: center;
}

.history p {
    background-color: #2E294E;
    color: #A2FAA3;
    text-align: center;
    padding: 15px;
    font-family: 'Orbitron';
    font-weight: 400;
    font-size: 30px;
}

.hidden-message {
    font-family: 'Orbitron';
    font-weight: 400;
    font-size: 15px;
    color: #A2FAA3;
    text-align: right;
    width: 415px;
    padding-right: 5px;
    position: absolute;
    grid-column: 1 / 5;
    margin-top: 5px;

}
